@media (max-width:850px) {
    .sidebar{
        width:90% !important;
        margin-top: 50px;
    }
    .content{
    }

    .content-side{
        position:static !important;
        max-width:350px !important;
        margin: auto !important;
       
    }
    .main {
        display: grid;
        grid-template-columns: 100%;
    }
    .big-text{
        font-size: 3rem !important;
    }
    nav{
        position: fixed !important;
        top:0 !important;
        left: 0 !important;
        z-index: 10 !important;
        width: 100% !important;
        border-radius: 0px !important;
    }
    .containerSkills {
        display: flex;
        flex-wrap: wrap;
        width:100% !important;
        margin-top: 50px; /
    }
    .skillbox{
        width: 80px !important;
    }
    .skillbox i{
        padding: 10px !important;
    }
    form{
        justify-content: center !important;
        align-items: center ;
    }
    footer{
        padding:5px !important;
    }
   
   
   
}